/* FONT */

* {
  font-family: "Roboto", sans-serif;
  /* zerando espaçamentos: */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* PAGE */

html {
  /* altura mínima == tela do usuário: 100vh (view-height), o que mantém o
   * tamanho da página sempre igual ao tamanho da tela: */
  min-height: 100vh;
  /* posição relativa em relação a elementos de posição absoluta, feito o
   * 'footer': */
  position: relative;
}

/* body com configurações de cores de background e texto: */
body {
  background-color: #1a1a20;
  color: #dddddd;
}

/* posição da tag 'main': */
main {
  margin-bottom: 250px;
}

/* NAVBAR */

#navbar {
  width: 100%;
  top: 0;
  /* modo flexbox para alinhar os elementos: */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #141417;
  /* padding para espaçamento interno da navbar: */
  padding: 70px;
  text-transform: uppercase;
  list-style: none;
}

/* configurações gerais dos itens na navbar: */
#navbar li {
  /* margem dos itens, na altura 0 e na lateral 15, para manter o espaçamento
   * entre os itens: */
  margin: 0 15px;
}

/* configurações do texto dos itens: */
#navbar .nav-link {
  color: #ccc;
  text-decoration: none;
  transition: 0.3s;
  font-size: 15px;
}

/* configurações do efeito do cursor sobre os itens, 'hover': */
#navbar .nav-link:hover {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

/* configurações de posição da logo: */
#logo {
  position: absolute;
  left: 10%;
}

/* tamanho da logo: */
#logo img {
  width: 160px;
}

/* HOME */

#title-container {
  min-width: 500px;
  text-align: center;
  /* para afastar da barra de navegação: */
  margin-top: 30px;
}

#title-container h1 {
  font-size: 50px;
}

#title-container p {
  margin-top: 10px;
  color: #999;
}

#articles-container {
  max-width: 1200px;
  margin: 30px;
  display: flex;
  /* para alinhar elementos um sobre o outro: */
  flex-wrap: wrap;
}

.article-box:first-child {
  /* para o primeiro artigo ocupar toda a div, mas alinhando as laterais
   * com os artigos abaixo: */
  min-width: 90%;
}

.article-box {
  flex: 1 1 0%;
  margin: 0 1%;
  margin-bottom: 20px;
}

.article-box img {
  width: 100%;
}

.article-box .article-title {
  font-size: 24px;
  margin: 10px 0;
}

.article-box .article-title a {
  color: #ccc;
  transition: 0.3s;
  text-decoration: none;
}

.article-box .article-title a:hover {
  font-size: 24.2px;
  color: #fff;
  transition: 0.3s;
  font-weight: bold;
}

.article-box .article-description {
  color: #888;
}

.tags-container {
  margin-top: 10px;
}

.tags-container a {
  font-size: 12px;
  color: #555;
  display: inline-block;
  margin-right: 5px;
}

/* ARTICLES */

#article-container {
  /* disposição paralela do display, em colunas: */
  display: grid;
  /* espaço ocupado por cada coluna, nesse caso, duas: uma para o artigo e
   * outra para a barra de navegação lateral: */
  grid-template-columns: 75% 25%;
  grid-template-rows: auto;
  grid-template-areas: "main" "sidebar";
  grid-gap: 10px;
  padding-top: 30px;
  max-width: 1200px;
  margin: 30px;
  margin-bottom: 250px;
}

.content-container {
  grid-area: main;
}

#main-title {
  font-size: 36px;
  margin-bottom: 30px;
}

#article-description {
  font-style: italic;
  margin-bottom: 40px;
}

.article-content {
  line-height: 1.8;
  margin: 20px 0;
}

.img-container {
  margin-bottom: 30px;
}

.img-container img {
  width: 60%;
}

/* ASSIDE NAV */

.nav-container {
  grid-area: sidebar;
}

#tags-title, #categories-title {
  font-size: 24px;
  background-color: #141417;
  color: #ccc;
  text-align: center;
  padding: 10px;
  /* afinar traço da fonte: */
  font-weight: 300;
}

#tag-list, #categories-list {
  list-style: none;
  background-color: #303038;
  margin-bottom: 16px;
  padding: 10px;
}

#tag-list a, #categories-list a {
  color: #ccc;
  transition: 0.3s;
}

#tag-list a:hover, #categories-list a:hover {
  color: #fff;
  font-style: bold;
  font-size: 16.5px;
}

/* FOOTER */

footer {
  /* ocupar toda a extensão da página: */
  width: 100%;
  /* posição absoluta no final da página: */
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 12px;
  background-color: #141417;
  color: #ccc;
  padding: 20px 0;
}

/* MOBILE WEB RESPONSIVENESS */

/* media query: quando a mídia for menor que 480px... */
@media(max-width: 480px) {

  /* HOME */
  header {
    width: 100%;
  }

 #navbar {
    padding: 20px;
    padding-top: 60%;
  }

 #logo {
    display: block;
    position: absolute;
    margin: 0 auto;
    max-width: 160px;
    left: 30%;
  }

  #title-container {
    min-width: 100%;
    margin-top: 20px;
  }

  #articles-container {
    margin-top: 20px;
  }

  .article-box {
    /* flex configurado para ocupar sempre toda a largura da tela, independente
     * do artigo: */
    flex: 100% 1 0;
    padding: 15px;
    margin: 0;
  }

  /* ARTICLES */

  #article-container {
    /* conteúdo em única coluna: */
    grid-template-columns: 100%;
    /* conteúdo ordenando elementos um sobre o outro na mesma coluna,
     * sinalizado pelo 'sidebar' na linha abixo de 'main': */
    grid-template-areas: "main"
    "sidebar";
    padding: 15px;
  }

  .img-container img {
    width: 100%;
  }
}
