/* FONT */
* {
  font-family: "Roboto", sans-serif;
  /* zerando espaçamentos: */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* PAGE */

html {
  /* altura mínima == tela do usuário: 100vh (view-height), o que mantém o
   * tamanho da página sempre igual ao tamanho da tela: */
  min-height: 100vh;
  /* posição relativa em relação a elementos de posição absoluta, feito o
   * 'footer': */
  position: relative;
}

/* body com configurações de cores de background e texto: */
body {
  background-color: #1a1a20;
  color: #dddddd;
}

/* posição da tag 'main': */
main {
  margin-bottom: 250px;
}

/* NAVBAR */
#navbar {
  width: 100%;
  top: 0;
  /* modo flexbox para alinhar os elementos: */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #141417;
  /* padding para espaçamento interno da navbar: */
  padding: 70px;
  text-transform: uppercase;
  list-style: none;
}

/* configurações gerais dos itens na navbar: */
#navbar li {
  /* margem dos itens, na altura 0 e na lateral 15, para manter o espaçamento
   * entre os itens: */
  margin: 0 15px;
}

/* configurações do texto dos itens: */
#navbar .nav-link {
  color: #ccc;
  text-decoration: none;
  transition: 0.3s;
  font-size: 15px;
}

/* configurações do efeito do cursor sobre os itens, 'hover': */
#navbar .nav-link:hover {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

/* configurações de posição da logo: */
#logo {
  position: absolute;
  top: 0;
  left: 10%;
}

/* tamanho da logo: */
#logo img {
  width: 160px;
}

/* FOOTER */

footer {
  /* ocupar toda a extensão da página: */
  width: 100%;
  /* posição absoluta no final da página: */
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 12px;
  background-color: #141417;
  color: #ccc;
  padding: 20px 0;
}
